body {
    background-size:cover;
}

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#balloon, #game_case, #nintendo_switch, #volleyball, #water_cup {
    width: 100px;
    height: 25px;
    margin: 10px;
}